/* #region Global styles */
:root {
  --footer-text-color: #f4f4fd;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* #endregion Global styles */

/* #region Header */

/* #region Logo */
.nav-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 3%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-logo span {
  color: #2e2f42;
}

.nav-list {
  font-weight: 500;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* .nav-list {} */

/* #endregion Logo */

/* #region Contacts */
.contacts-list {
  font-style: normal;
}

.contacts-list-item {
}

.contacts {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
/* #endregion Contacts */

/* #endregion Header */

/* #region Main */

/* #region Hero */

.hero {
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion Hero */

/* #region Benefits List */

.benefits-list-title {
  visibility: hidden;
}

.benefits-list-item {
}

.benefits-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.benefits-desc {
  color: #434455;
}

/* #endregion Benefits List */

/* #region Team List */

.team {
  background-color: #f4f4fd;
  text-transform: capitalize;
}

.team-list-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.team-list {
  background-color: #ffffff;
}

.team-list-item {
  background-color: #ffffff;
}

.team-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-desc {
}

/* #endregion Team List */

/* #region Portfolio List */

.portfolio-list-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.portfolio-list {
}

.portfolio-list-item {
}

.portfolio-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-desc {
}

/* #endregion Portfolio List */

/* #endregion Main */

/* #region Footer */
.footer {
  background-color: #2e2f42;
}

.footer-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-span {
  color: var(--footer-text-color);
}

.footer-desc {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
}
/* #endregion Footer */
