/* ===================================
   Global & Layout
   =================================== */

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 156px;
}

/* #region Global */

:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
}

body {
  background-color: var(--white);
  color: var(--text);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  margin: -1px;
}

/* #endregion Global */

/* #region Header */

/* #region Navigation */
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 72px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  color: var(--primary-brand);
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav__logo-accent {
  color: var(--dark);
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  font-weight: 500;
}

.nav__link {
  color: var(--dark);
  font-size: 16px;
  line-height: 1.5;
}

.nav__link:hover,
.nav__link:focus-visible {
  color: var(--pressed-state);
}

/* #endregion Navigation */

/* #region Contacts */
.contacts {
  font-style: normal;
}

.contacts__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.contacts__link {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
}

.contacts__link:hover,
.contacts__link:focus-visible {
  color: var(--pressed-state);
}
/* #endregion Contacts */

/* #endregion Header */

/* #region Main */

/* #region Hero */

.hero {
  background-color: var(--dark);
  text-align: center;
}

.hero__title {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}

.hero__button {
  border: none;
  background-color: var(--primary-brand);
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero__button:hover,
.hero__button:active {
  background-color: var(--pressed-state);
}

.hero__button:focus-visible {
  outline: 2px solid var(--pressed-state);
  outline-offset: 2px;
}
/* #endregion Hero */

/* #region Benefits */

.benefits__title {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.benefits__desc {
  color: var(--text);
}

/* #endregion Benefits */

/* #region Team */

.team {
  background-color: var(--light);
  text-transform: capitalize;
}

.team__heading {
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.team__list {
  background-color: var(--white);
}

.team__item {
  background-color: var(--white);
}

.team__title {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team__desc {
}

/* #endregion Team */

/* #region Portfolio */

.portfolio__heading {
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.portfolio__list {
}

.portfolio__item {
}

.portfolio__title {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.portfolio__desc {
}

/* #endregion Portfolio */

/* #endregion Main */

/* #region Footer */
.footer {
  background-color: var(--dark);
}

.footer__logo {
  color: var(--primary-brand);
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__logo-accent {
  color: var(--light);
}

.footer__desc {
  color: var(--light);
  font-size: 16px;
  line-height: 1.5;
}
/* #endregion Footer */
