/* calc() */

/* #region Global */

:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #fff;
}

body {
  background-color: var(--white);
  color: var(--text);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 156px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion Global */

/* #region - Header - */

/* #region Navigation */
.header-container {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  padding: 24px 156px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 72px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  color: var(--primary-brand);
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-logo-accent {
  color: var(--dark);
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  font-weight: 500;
}

.nav-link {
  color: var(--dark);
  font-size: 16px;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus-visible {
  color: var(--pressed-state);
}

/* #endregion Navigation */

/* #region Contacts */
.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.contacts-link {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
}

.contacts-link:hover,
.contacts-link:focus-visible {
  color: var(--pressed-state);
}
/* #endregion Contacts */

/* #endregion Header */

/* #region - Main - */

/* #region Hero */

.hero {
  background-color: var(--dark);
  text-align: center;
}

.hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}

.hero-button {
  border: none;
  background-color: var(--primary-brand);
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:active {
  background-color: var(--pressed-state);
}

.hero-button:focus-visible {
  outline: 2px solid var(--pressed-state);
  outline-offset: 2px;
}
/* #endregion Hero */

/* #region Benefits */

.benefits-title {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.benefits-desc {
  color: var(--text);
}

/* #endregion Benefits */

/* #region Team */

.team {
  background-color: var(--light);
  text-transform: capitalize;
}

.team-heading {
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.team-list {
  background-color: var(--white);
}

.team-item {
  background-color: var(--white);
}

.team-title {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* #endregion Team */

/* #region Portfolio */

.portfolio-heading {
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.portfolio-title {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* #endregion Portfolio */

/* #endregion Main */

/* #region - Footer - */
.footer {
  background-color: var(--dark);
}

.footer-logo {
  color: var(--primary-brand);
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-accent {
  color: var(--light);
}

.footer-desc {
  color: var(--light);
  font-size: 16px;
  line-height: 1.5;
}
/* #endregion Footer */
